ErrorDocument 404 /404.html

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/darknet\.html [NC]
RewriteRule ^ - [F,L]

AddType audio/mpeg .mp3 .MP3
AddType audio/wav .wav .WAV 