ErrorDocument 404 /404.html

RewriteEngine On
RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/darknet\.html [NC]
RewriteRule ^ - [F,L]

AddType audio/mpeg .mp3 .MP3
AddType audio/wav .wav .WAV 